<ion-view view-title="Menu">
    <ion-nav-buttons side="right"  >
      <a style="color: white;font-size: 24px; padding: 5px 10px 5px 10px;" href="#/app/home" ><i class="icon ion-home" ></i></a>
    </ion-nav-buttons>
    <ion-content ng-class="{expanded:isExpanded}" class="condensed-space no-padding animate-blinds">
    <div id="beaconMsg"></div>
        <div class="list">
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image" ui-sref="app.listsHotel">
                        <h2>Rambagh Palace, Jaipur, India</h2>
                        <img src="img/hotel2.jpg" >
                    </a>
                </div>
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image" ui-sref="app.listsHotel">
                        <h2>Oberoi Amarvilas, Agra, India</h2>
                        <img src="img/hotel3.jpg">
                    </a>
                </div>
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image" ui-sref="app.listsHotel">
                        <h2>The Langham Chicago</h2>
                        <img src="img/hotel4.jpg">
                    </a>
                </div>
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image" ui-sref="app.listsHotel">
                        <h2>The Peninsula Bangkok</h2>
                        <img src="img/hotel5.jpg">
                    </a>
                </div>
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image" ui-sref="app.listsHotel">
                        <h2>Farmhourse Inn, Forestville, California</h2>
                        <img src="img/hotel6.jpg">
                    </a>
                </div>
            </div>
            
    </ion-content>
</ion-view>
