<ion-view view-title="Browse">
  <ion-content  >
    <div class="homeimg"></div>
    <div class="tabs-striped tabs-color-assertive tabs-icon-top">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>
        Home
      </a>
      <a class="tab-item" href="#/app/categoryHotel">
        <i class="icon ion-star"></i>
        Hotels
      </a>
      <a class="tab-item" href="#/app/category">
        <i class="icon ion-android-restaurant"></i>
        Foods And Drinks
      </a>
    </div>
  </div>
  </ion-content>
</ion-view>
