<ion-view view-title="Menu">
    <ion-nav-buttons side="right"  >
      <a style="color: white;font-size: 24px; padding: 5px 10px 5px 10px;" href="#/app/home" ><i class="icon ion-home" ></i></a>
    </ion-nav-buttons>
  <ion-content ng-class="{expanded:isExpanded}" class="condensed-space no-padding animate-fade-slide-in">
        <div class="list">

        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel5.jpg">
          <h2>The Peninsula Bangkok</h2>
          <p>Price <strong>$1825</strong></p>
        </a>
        
        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel2.jpg">
          <h2>Post Ranch Inn, Big Sur California</h2>
          <p>Price <strong>$1123</strong></p>
        </a>
        
        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel3.jpg">
          <h2>The Langham Chicago</h2>
          <p>Price <strong>$1500</strong></p>
        </a>
        
        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel4.jpg">
          <h2>Oberoi Amarvilas, Agra, India</h2>
          <p>Price <strong>$2388</strong></p>
        </a>
        
        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel5.jpg">
          <h2>Rambagh Palace, Jaipur, India</h2>
          <p>Price <strong>$1250</strong></p>
        </a>
        
        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel6.jpg">
          <h2>Farmhourse Inn, Forestville, California</h2>
          <p>Price <strong>$900</strong></p>
        </a>
        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel5.jpg">
          <h2>The Peninsula Bangkok</h2>
          <p>Price <strong>$1825</strong></p>
        </a>
        
        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel2.jpg">
          <h2>Post Ranch Inn, Big Sur California</h2>
          <p>Price <strong>$1123</strong></p>
        </a>
        
        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel3.jpg">
          <h2>The Langham Chicago</h2>
          <p>Price <strong>$1500</strong></p>
        </a>
        
        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel4.jpg">
          <h2>Oberoi Amarvilas, Agra, India</h2>
          <p>Price <strong>$2388</strong></p>
        </a>
        
        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel5.jpg">
          <h2>Rambagh Palace, Jaipur, India</h2>
          <p>Price <strong>$1250</strong></p>
        </a>
        
        <a class="item item-avatar" style="background-color: #fff; border-bottom: 2px solid #ddd;">
          <img src="img/hotel6.jpg">
          <h2>Farmhourse Inn, Forestville, California</h2>
          <p>Price <strong>$900</strong></p>
        </a>
        
        </div>
  </ion-content>
</ion-view>
